<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Users</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl">
        <h1>Counter: {{ ctrl.counter }}</h1>
    </div>

    <!-- placeholder for views -->
    <!-- <div ui-view>
    </div> -->

    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <!-- <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script> -->
    <script src="app/app.module.js"></script>
    <!-- <script src="app/app.config.js"></script> -->
    <script src="app/controllers/app.controller.js"></script>
    <!-- <script src="app/controllers/users.controller.js"></script> -->
    <!-- <script src="app/controllers/edit.controller.js"></script> -->
    <!-- <script src="app/services/app.service.js"></script> -->
</body>

</html>