<div class="page-header">
    <h2>Search result for {{ctrl.term}} <button class="btn btn-warning pull-right" ng-click="ctrl.goBack()">back</button></h2>
</div>

<div ng-hide="ctrl.customerFound">
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Customer not found!</strong> Please try again.
    </div>
</div>

<div ng-show="ctrl.customerFound">
    <div class="well">
        <h4>{{ctrl.customer.NAME}} </h4>
    </div>

    <form>
        <div class="form-group">
            <button class="btn btn-success" ng-click="ctrl.showPurchaseOrders()">View Purchase Orders</button>
        </div>
    </form>

    <div ng-show="ctrl.showWarning">
        <div class="alert alert-warning alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Purchase order not found!</strong> Please try another customer.
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover" ng-show="ctrl.showTable">
        <thead>
            <tr>
                <th>Order Num</th>
                <th>Product Id</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in ctrl.orders">
                <td>{{order.ORDER_NUM}}</td>
                <td>{{order.PRODUCT_ID}}</td>
                <td>{{order.QUANTITY}}</td>
            </tr>
        </tbody>
    </table>
</div>